<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:powderblue;">

<div class="container">
  <h2 class="red-text" style="color: Green;">ASTM RECOMMENDATION SYSTEM</h2>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Products
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">REPRINTS</a></li>
      <li><a href="#">SUB-A0148/A0148M</a></li>
      <li><a href="#">SUB-F0681-PLUS</a></li>
    </ul>
      <button type="button">Recommend</button>
  </div>
</div>


</body>
</html>
